[Unit]
Description=MQTT LEDs
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/mqtt_led.py
Restart=on-abort

[Install]
WantedBy=multi-user.target